.form-floating{
    width: 70%;
    margin: 0 auto;
}

.bgLight{
    padding:4rem;
    background-color:#d9dcd6;
    color: #174157;
    padding-bottom: 7rem;
}
.btnContact{
    background-color: #456678;
    color: #fff ;
    padding-right:200px;
    padding-left:200px;
}

.btnContact:hover{
        background-color: #174157;
        color:#fff;
}